{% extends 'base.html' %}

{% block content %}

<style media="screen">
  body{
    margin-top:0;
  }
  main{
    padding-right:0;

  }
</style>

<div class="banner-content" style="background-image:linear-gradient(to right, rgb(114,184,95,1), rgb(114,184,95,.3));width:100%;box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.5);margin-bottom:2%;">
  <div class="row" style="height:100%;">
    <div class="col-md-7" style="padding-left:20px;height:100%;text-align:left;argin-top:10%;padding:5%;">
      <h4 style="font-weight:600;color:white;">Only Delicious and Fresh Ingredients</h4>
      <h1 style="font-size:50px;font-weight:900;color:white;">Seven Spices</h1>
      <p style="font-weight:450;color:white;">Lorem ipsum dolor sit amet, consectetur aitation ullamco laboris nisi ut dolore eu fugiat nulla pariatur. Excepteur sint pa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="col-md-5" style="background-color:#f7f7f7;border-top-left-radius:50%;border-bottom-left-radius:50%;text-align:center;align-items:center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);">
      <!-- border-bottom-right-radius:100%; -->
      <img src="media/general_pics/home_page_2.jpg" style="width:85%;height:80%;border:20px solid white;border-radius:50%;display:inline-block;margin:10%;box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);transform:rotate(3.5deg)" alt="">
    </div>
  </div>

</div>

<div class="second-banner-content" style="background-image:linear-gradient(to right, #ff9d2f, #ff6126);width:100%;box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.5);margin-bottom:5%;">
  <div class="row">
    <div class="col-md-5" style="background-color:#f7f7f7;border-top-right-radius:50%;border-bottom-right-radius:50%;text-align:center;align-items:center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
      <!-- border-bottom-right-radius:100%; -->
      <img src="media/general_pics/home_page.jpg" style="width:85%;height:80%;border:20px solid white;border-radius:50%;display:inline-block;margin:10%;box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);" alt="">
    </div>

    <div class="col-md-7" style="padding-left:20px;height:100%;text-align:left;argin-top:10%;padding:5%;">
      <h1 style="font-size:50px;font-weight:900;color:white;">Seven Spices</h1>
      <h4 style="font-weight:600;color:white;">About Us</h4>
      <p style="font-weight:450;color:white;">Lorem ipsum dolor sit amet, consectetur aitation ullamco laboris nisi ut dolore eu fugiat nulla pariatur. Excepteur sint pa qui officia deserunt mollit anim id est laborum.</p>

    </div>
  </div>
</div>

{% endblock %}

{% block sidebar_content %}

<style media="screen">
  .content-section{
    /* background-color:pink; */
  }
</style>

{% endblock %}
